body {
	background-color: #ecf0f3;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .iphone {
	max-width: 575px;
	width: 100%;
	height: 750px;
	background-color: #fff;
	border-radius: 50px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.10);
	margin: 0 auto;
  }
  
  .screen {
	width: 100%;
	height: 100%;
	background-color: #f9f9f992;
	padding: 2px;
	border-radius: 102px;
	box-shadow: 10 0 20px rgba(12, 69, 174, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .button-container button {
	margin: 0 10px; /* Add margin to create space between buttons */
  }
  

  
  .container {
	text-align: center;
	margin-top: 70px;
	max-width: 100%;
  }
  
  h1 {
	font-family: "Arial", sans-serif;
	font-size: 28px;
	color: #333;
	margin-bottom: 20px;
  }
  
  #question {
	font-family: "Arial", sans-serif;
	font-size: 25px;
	color: #333;
	margin-bottom: 28px;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
  }
  
  #letter {
	font-family: "Arial", sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	transition: transform 1s ease-in-out;
  }
  
  #generate-btn {
	font-family: "Arial", sans-serif;
	font-size: 22px;
	padding: 15px 25px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: inset 0 0 0 0 #007bff;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  #generate-btn:hover {
	background-color: hsla(211, 100%, 35%, 0.09);
	transform: scale(0.75);
  }
  
  #generate-btn:active {
	transform: scale(0.95);
  }

  #stop-timer-btn {
	font-family: "Arial", sans-serif;
	font-size: 22px;
	padding: 15px 25px;
	background-color: #ff5722;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: inset 0 0 0 0 #007bff;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  #stop-timer-btn:hover {
	background-color: #990707;
	transform: scale(0.75);
  }
  
  #stop-timer-btn:active {
	transform: scale(0.95);
  }

  #continue-timer-btn {
	font-family: "Arial", sans-serif;
	font-size: 22px;
	padding: 15px 22px;
	background-color: #ff5722;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: inset 0 0 0 0 #0ada26;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  #continue-timer-btn:hover {
	background-color: #098b1b;
	transform: scale(0.75);
  }
  
  #continue-timer-btn:active {
	transform: scale(0.95);
  }


  
  .button {
	width: 80px;
	height: 80px;
	background-color: #007bff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: calc(50% - 30px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	font-size: 36px;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  .button:hover {
	background-color: #0056b3;
	transform: scale(0.95);
  }
  
  .button:active {
	transform: scale(0.95);
  }
  
  /* Theme color */
  :root {
	--theme-color: #ff5722;
  }
  
  .iphone {
	background-color: var(--theme-color);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
  }
  
  #generate-btn {
	background-color: var(--theme-color);
  }
  
  #generate-btn:hover {
	background-color: #e64a19;
  }
  
  .button {
	background-color: var(--theme-color);
  }
  
  .button:hover {
	background-color: #e64a19;
  }
  
  /* Timer */
  #timer {
	font-family: "Arial", sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
  }
  
